/* Estilos apenas no editor */
.editor-telhado-casinha-bebelume {
    border: 2px dashed #0073aa;
    border-radius: 8px;
    overflow: hidden;
}

.preview-telhado-casinha-bebelume {
    min-height: 200px;
}